.container {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "content1 content1 content1 content1"
    "footer footer footer footer";
  grid-gap: 0.1rem;
  font-family: fantasy;
  font-weight: 800;
  flex-wrap: wrap;
  min-height: 100%;
  width: 100%;
}

nav {
  background: aqua;
  grid-area: nav;
}

main {
  background: azure;
  grid-area: main;
}

footer {
  background: dark gray;
  grid-area: footer;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: dimgray;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}
